* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color: DarkGray;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 85vh;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 10vh;
}

.title {
    margin-left: auto;
    margin-right: auto;
    left: 45%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 5vh;
    width: 15%;
}

canvas#court {
    border: 3px solid #fff;
}

button:hover {
    cursor: pointer;
}

#court:hover {
    cursor: crosshair;
}

.menuButton{
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    width: 15%;
    background-color: rgb(177, 177, 177);
}


.nextButton{
    width: 100%;
    font-size: 15px;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    background-color: lime;
}

.focusLevel:hover {
    cursor: none;
}


.focusLevel {
    border-color:rgb(177, 177, 177);
    outline-color:rgb(177, 177, 177);
    color: rgb(59, 61, 61);
  }

div {
    font-size: 50px;
    font-style: italic;
    font-weight: bold;
    width: 100%;
    text-align: center;
}

.run {
    position: absolute;
    left: 45%;
    top: 50%;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    width: 10%;
    text-align: center;
    background-color: rgb(177, 177, 177);
}

.stop {
    display: none;
}