* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    height: 100vh;
    /* background-color: rgb(177, 177, 177); */
    background-color: DarkGray;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 85vh;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 10vh;
    /* margin-left: 100px; */
}

.title {
    margin-left: auto;
    margin-right: auto;
    /* position: absolute; */
    left: 45%;
    /* top: 50%; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 5vh;
    width: 10%;
    /* margin-left: 100px; */
}

canvas#court {
    border: 3px solid #fff;
}

button:hover {
    cursor: pointer;
}

#court:hover {
    cursor: crosshair;
}

.menuButton{
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    width: 15%;
    /* text-align: center; */
    background-color: rgb(177, 177, 177);
}

/* .nextButtonBlue{
    background-color: blue;
    color: white;
}
.nextButtonRed{
    background-color: red;
    color: white;
}
.nextButtonYellow{
    background-color: yellow;
    color: black;
}
.nextButtonWhite{
    background-color: white;
    color: black;
}
.nextButtonLime{
    background-color: lime;
    color: black;
} */

.nextButton{
    width: 100%;
    /* height: 5%; */
    font-size: 15px;
    font-style: italic;
    font-weight: bold;
    /* width: 5%; */
    /* padding: 0.1%; */
    text-align: center;
    background-color: lime;
    /* position: relative; */
}

.focusLevel:hover {
    cursor: none;
}

/* button:hover {
    cursor: pointer;
} */

.focusLevel {
    border-color:rgb(177, 177, 177);
    outline-color:rgb(177, 177, 177);
    /* cursor: none; */
    color: rgb(59, 61, 61);
  }

div {
    font-size: 50px;
    font-style: italic;
    font-weight: bold;
    width: 100%;
    text-align: center;
}

.run {
    position: absolute;
    left: 45%;
    top: 50%;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    width: 10%;
    text-align: center;
    background-color: rgb(177, 177, 177);
}

.stop {
    display: none;
}

.boom {
    animation-iteration-count: 1;
    animation: boom 0.2s ease-in-out; 
    -webkit-animation: boom 0.2s ease-in-out;
}

.baam {
    animation-iteration-count: 1;
    animation: baam 0.2s ease-in-out; 
    -webkit-animation: baam 0.2s ease-in-out;
}

/* @keyframes boom
{
  0% { font-size: 50px; }
  100% { font-size: 180px; }
}

@keyframes baam
{
  0% { font-size: 50px; }
  100% { font-size: 180px; }
}

@-webkit-keyframes boom
{
  0% { font-size: 50px; }
  100% { font-size: 180px; }
}

@-webkit-keyframes baam
{
  0% { font-size: 50px; }
  100% { font-size: 180px; }
} */