* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color: rgb(177, 177, 177);
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 85vh;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 15vh;
}

canvas {
    border: 3px solid #fff;
}

#court:hover {
    cursor: crosshair;
}

button{
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    width: 15%;
    text-align: center;
    background-color: rgb(177, 177, 177);
}

button:hover {
    cursor: pointer;
}

button:focus {
    border-color:rgb(177, 177, 177);
    outline-color:rgb(177, 177, 177);
    cursor: none;
    color: rgb(59, 61, 61);
  }

div {
    font-size: 50px;
    font-style: italic;
    font-weight: bold;
    width: 100%;
    text-align: center;
}

.boom {
    animation-iteration-count: 1;
    animation: boom 0.2s ease-in-out; 
    -webkit-animation: boom 0.2s ease-in-out;
}

.baam {
    animation-iteration-count: 1;
    animation: baam 0.2s ease-in-out; 
    -webkit-animation: baam 0.2s ease-in-out;
}

@keyframes boom
{
  0% { font-size: 50px; }
  100% { font-size: 180px; }
}

@keyframes baam
{
  0% { font-size: 50px; }
  100% { font-size: 180px; }
}

@-webkit-keyframes boom
{
  0% { font-size: 50px; }
  100% { font-size: 180px; }
}

@-webkit-keyframes baam
{
  0% { font-size: 50px; }
  100% { font-size: 180px; }
}